<form action="">
<label>обычные : <input type="number" min="0" max="100" [(ngModel)]=" addCars.usual.amount" name="fut.usual"></label>
<label>грузовые : <input type="number" min="0" max="100" [(ngModel)]="addCars.cargo.amount" name="fut.cargo"></label>
<label>инвалиды : <input type="number" min="0" max="100" [(ngModel)]="addCars.carDisabledPerson.amount" name="fut.carDisabledPerson"></label>
  <button type="button" (click)="setCar()" ></button>
</form>

<div>
  <ul (click)="delCar($event)">
    <li *ngFor="let res of parkingList " id="{{res.id}}"> {{res.id}} : {{res.carType}} : {{res.status}}</li>
  </ul>
</div>

<div>
  <ul>
    <li>свободных мест :</li>
    <li>{{emptySeat.cargo.type}} : {{emptySeat.cargo.amount}}</li>
    <li>{{emptySeat.usual.type}} : {{emptySeat.usual.amount}}</li>
    <li>{{emptySeat.carDisabledPerson.type}} : {{emptySeat.carDisabledPerson.amount}}</li>
  </ul>
</div>
